*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Kufam', cursive;
    
}

main{
    width: 100%; 
    max-height: 900px;
    min-height: 100vh;
    background-image: url(../img/bg-pepsi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.lock{
    overflow: hidden;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.logo{
    margin-left: 50px;
}
.logo img{
    width: 150px;
}
.header__list-nav{
    display: flex;
    margin-right: 150px;
}
.header__list-item{
    margin-right: 20px;
    font-size: 22px;
}
.header__list-item:last-child{
    margin-right: 0;
}


section{
    width: 100%;
    display: flex;
 
}
.info-block{
    width: 50%;
    padding-left: 50px;

}
.container-text-info{
color: #fff;
    top: 0;
    left: 0;
}
.info-block h1{
  margin-top: 80px;
  font-size: 30px;
  padding: 5px;
}
.info-block p{
    padding: 5px;
    margin-top: 30px;
    width: 70%;
    line-height: 1.5;
    font-size: 18px;
   color: black;
}
.info-block a{
    transition: all .3s;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    border: 2px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}
.card-front:hover{
    transform: scale(1.1);
}
.btn-bue{
    position: relative;
}
.btn-bue::after{
    position: absolute;
    content: '';
    right: 50%;
    top: 45%;
    border: 20px solid transparent; 
    border-right: 30px solid rgb(255, 255, 255);
animation:arrow 1s ease infinite;
}
@keyframes arrow{
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}
/* .btn-bue{
    position: relative;
} */
/* .btn-bue a{
    position: absolute;
    width: 200px;
} */
/* .card-front{

}
.card-back{
    transform: rotatey(180deg);
 
} */

.info-block__img{
    width: 50%;
    display: flex;
}
.info-block__img__list{
    width: 100%;
    height: 100%;
   
}
.info-block__img__list-item{
    position: relative;
    display: none;
    animation-duration: 1s;
}
/* .info-block__img__list-item:nth-child(2){
    display: block;
    z-index: -1;
} */

.info-block__img__list-item img{
    width: 200px;
    position: absolute;
    top: 50px;
    left: calc(50% - 100px );

}

.info-block__img__list-item.active{
    display: block;

}


footer{
    width: 100%;
    padding: 20px 0; 
    position: relative;
    min-height: 200px;
}
.footer-list{
    top: 80px;
    left: calc(50% - 120px);
    display: flex;
    justify-content: center;
    position: absolute;
}
.footer-list__item{
   margin-right: 20px; 
   position: relative;
}
.footer-list__item::after{
    opacity: 0;
    position: absolute;
    content: '';
    bottom: 0;
    left:calc(50% - 22px);
    width: 80%;
    height: 5px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
}
.footer-list__item:hover.footer-list__item a img{
    transform: translateY(-20px);
}
.footer-list__item:hover.footer-list__item::after{
    opacity: 1;
    transition: all .3s;
}


.footer-list__item a img{
    max-width: 150px;
    height: 100px;
    transition: all .3s;
}

.bg-pepsi,.bg-srpite,
.bg-fanta,.bg-cola{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.bg-pepsi{
    background-image: url(../img/bg-pepsi.jpg);
    display: none;
}
.bg-srpite{
    filter: blur(5px);
    display: none;
    background-image: url(../img/sprite-bg.jpg);
}
.bg-fanta{
    display: none;
    background-image: url(../img/bg-fanta.jpg);
}
.bg-cola{
    display: none;
    background-image: url(../img/bg-cola.jpg);
}
.bg-pepsi.active,.bg-srpite.active,
.bg-fanta.active,.bg-cola.active{
    display: block;
}
.popup{
    display: flex;
    position: absolute;
    /* width: 600px;
    height: 500px; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 3;
    /* top: calc(50% - 250px); */
    left: 0;
    top: -2000px;
    justify-content: center;
    align-content: center;
 
}
.popup.active{
    transition:all .5s;
    top: 0;
}
.popup__content{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 70%;
    background-color: rgb(231, 238, 137);
    margin: auto 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.63);
}
.close-popup{
    position: absolute;
    right: 15px;
    top: 15px;

}
.close-popup:hover{
    cursor: pointer;
}
form{
    padding: 10px;
    width: 50%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
input{
    margin-top: 10px;
    max-width: 100%;
    min-width: 100%;
    height: 30px;
}
textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
    min-height: 150px;
}

@media screen and (max-width: 1100px){
    .btn-bue::after{
        right: 40%;
    }
    .info-block p {
        width: 100%;
    }
}
@media screen and (max-width: 950px){
    .btn-bue::after{
        right: 20%;
    }
}
@media screen and (max-width: 768px){
    .btn-bue::after{
       display: none;
    }
    section{
        flex-direction: column;
        min-height: 720px;
    }
    main{
        min-height: 1120px;
    }
    .info-block{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .info-block__img{
        width: 100%;
        padding: 10px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    footer{
        margin-top: 20px;
    }
    .footer-list{
        left: calc(50% - 140px);
        top: 130px;
    }
    .popup{
        height: 100vh;
    }
    .popup__content {
        width: 70%;
        height: 90%;
    }

}
@media screen and (max-width: 425px){
    .footer-list{
        top: 200px;
    }
    main{
        min-height: 1200px;
    }
    .popup__content {
        width: 90%;
        height: 60%;
    }
}
@media screen and (max-width: 375px){
    .footer-list{
        top: 210px;
    }
}


